{#
 # Licensed to the Apache Software Foundation (ASF) under one
 # or more contributor license agreements.  See the NOTICE file
 # distributed with this work for additional information
 # regarding copyright ownership.  The ASF licenses this file
 # to you under the Apache License, Version 2.0 (the
 # "License"); you may not use this file except in compliance
 # with the License.  You may obtain a copy of the License at
 #
 #   http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}
{
  "input":[
    {
      "type":"druid_coordinator",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/coordinator.log"
    },
    {
      "type":"druid_overlord",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/overlord.log"
    },
    {
      "type":"druid_historical",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/historical.log"
    },
    {
      "type":"druid_broker",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/broker.log"
    },
    {
      "type":"druid_middlemanager",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/middleManager.log"
    },
    {
      "type":"druid_router",
      "rowtype":"service",
      "path":"{{default('/configurations/druid-env/druid_log_dir', '/var/log/druid')}}/router.log"
    }
  ],
  "filter":[
    {
      "filter":"grok",
      "conditions":{
        "fields":{
          "type":[
            "druid_coordinator",
            "druid_overlord",
            "druid_historical",
            "druid_broker",
            "druid_middlemanager",
            "druid_router"
          ]
        }
      },
      "log4j_format":"%d{ISO8601} %-5p %c{2} (%F:%M(%L)) - %m%n",
      "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
      "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:level}%{SPACE}\\[%{DATA:thread_name}\\]%{SPACE}%{JAVACLASS:logger_name}%{SPACE}-%{SPACE}%{GREEDYDATA:log_message}",
      "post_map_values":{
        "logtime":{
          "map_date":{
            "target_date_pattern":"yyyy-MM-dd'T'HH:mm:ss,SSS"
          }
        }
      }
    }
  ]
}
